<div class="artteam-hogwarts-houses-container">

    <div class="house-container">

        <app-leader-house
            [houseId]='1'>        
        </app-leader-house>
        <app-student-list
            [houseId]='1'>
        </app-student-list>
    </div>
    <div class="house-container">
        <app-leader-house
            [houseId]='2'>        
        </app-leader-house>
        <app-student-list
            [houseId]='2'>
        </app-student-list>
    </div>
    <div class="house-container">
        <app-leader-house
            [houseId]='3'>        
        </app-leader-house>
        <app-student-list
            [houseId]='3'>
        </app-student-list>
    </div>
    <div class="house-container">
        <app-leader-house
            [houseId]='4'>        
        </app-leader-house>
        <app-student-list
            [houseId]='4'>
        </app-student-list>
    </div>
    
    
    
    
    
</div>